#index{
  width: 100%;
  height: 100%;
  .indexMain{
    width: 1366px;
    margin: auto;
    height: 100%;
    display: flex;
    .navMain{
      width:200px;
      height: 100%;
      background: rebeccapurple;
      .clientInfo{
        margin: 30px 12px;
        .icon{
          width: 42px;
          height: 42px;
          margin: auto;
          img{
            width: 100%;
            height: 100%;
          }
        }
      }
    }
    .userMain{
      flex: 1;
      background: yellowgreen;
    }
  }
}